section{
    background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.5)), url("../../assets/Sharonville_Bottles.JPG");
    height: 110ch;
    width: 110ch;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;
    background-size: 100% 100%; 
    text-align: center;
    animation: animation 1s;
}
table{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0 40px;
    border-collapse: separate;
    color:coral;
}
input{
    border-radius: 5px;
    overflow: hidden;
}
h2{
    margin-top: 10%;
    text-align: center;
}
td{
    text-align: center;
}
.name{
    display: inline;
    flex-direction: column;
    max-width: 300px;
}
.email{
    width:700px;
}
.phone{
    width: 200px;
}
.message{
    max-width: 1000px;
    height:200px;
}
@keyframes animation{
    from{top:100px;}
    to{top:0px}
}
