<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us</title>
</head>
<body>
    <section>
        <table>
            <thead>
                <th><h2>CONTACT US</h2></th>
            </thead>
            <tbody>
                <tr>
                    <td class="name" colspan="2">Name*<br>
                        <input type="string" placeholder="Firstname">
                        <input type="string" placeholder="Lastname">
                </tr>
                <tr>
                    <td>Email*<br>
                        <input type="string" placeholder="Email" class="email">
                    </td>
                </tr>
                <tr>
                    <td>Phone*<br>
                        <input type="string" placeholder="(###)-###-###" class="phone"></td>
                </tr>
            </tbody>
        </table>
        <form class="message">
            <label for="msg">Message*</label>
            <textarea id="msg" name="msg" rows="5" cols="50" placeholder="Message"></textarea>
        </form>
        <button class="btn btn-danger">Submit</button>
    </section>
</body>
</html>
