<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact Us</title>
</head>
<body>
    <section>
        <table>
            <thead>
                <th><h2>CONTACT US</h2></th>
            </thead>
            <tbody>
                <tr>
                    <td class="name" colspan="2">Name*<br>
                        <input [(ngModel)]="CustomerFB.firstName" type="string" placeholder="Firstname">
                        <input [(ngModel)]="CustomerFB.lastName" type="string" placeholder="Lastname">
                </tr>
                <tr>
                    <td>Email*<br>
                        <input [(ngModel)]="CustomerFB.email" type="string" placeholder="Email" class="email">
                    </td>
                </tr>
                <tr>
                    <td>Phone*<br>
                        <input [(ngModel)]="CustomerFB.phone" type="string" placeholder="(###)-###-###" class="phone"></td>
                </tr>
                <tr>
                    <td>Message*<br>
                        <textarea [(ngModel)]="CustomerFB   .message" id="msg" name="msg" rows="5" cols="100" placeholder="Message"></textarea></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-danger" (click)="CreateFB()">Submit</button>
    </section>
</body>
</html>
