section{
    background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.5)), url("../../assets/Sharonville_Bottles.JPG");
    height: 80ch;
    width: 110ch;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;
    background-size: 100% 100%; 
    text-align: center;
}
div{
    text-align: center;
    font-family: Georgia;
}
h3{
    margin-top:1.5%;
    font-weight: 700;
}