table{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h3{
    margin-top: 10%;
}
section{
    background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.5)), url("../../assets/Sharonville_Bottles.JPG");
    height: 75ch;
    justify-content: center;
    position: relative;
    background-size: 100% 100%; 
    text-align: center;
}
input{
    border-radius: 8px;
}