<html>
    <body>
        <div class = nav-bar>
            <img class = nav-bar-img src="../../assets/Sharonville_Tag.jpg">
            <div class = nav-bar-options>
                <h3 class = option>Contact Us</h3>
                <h3 class = option>Login</h3>
                <h3 class = option>Store Hours</h3>
                <h3 class = option>Location</h3>
                <h3 class = option>Welcome</h3>
            </div>
        </div>
        <section>
            <div>
                <p>Welcome to the liquor store it is located in sharonville ohio</p>
            </div>
        </section>
    </body>
</html>
