<html>
    <body>
        <section>
            <div>
                <h1>Welcome to Sharonville Liquor & Wine</h1>
                <p>We strive to offer the best customer service while you shop our stock of libations.  
                Feel free to ask any questions you may have about preparing the perfect cocktail. 
                Our shelves stay well stocked and we keep our selection up-to-date with alcohol market trends. 
                The store's location is easy to find, being on the corner of Reading Rd and Sharon Rd.  
                We have a well-trained, attentive staff that would be more than happy to assist you. 
                Our customers are very important to us, and our efficient and friendly staff makes certain that you are 100% 
                satisfied when you leave our business. </p>
            </div><br>
            __________________________________________________________________________
            <h1>Store Gallery</h1>
            <div class="container">
                <owl-carousel [options]="homeSlider" [carouselClasses]="['owl-theme', 'customClassName']">
                    <div class="item">
                        <img src="../../assets/Store1.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store2.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store3.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store4.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store5.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store6.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store7.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store8.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store9.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store10.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store11.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store12.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store13.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store14.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store15.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store16.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store17.JPG">
                    </div>
                    <div class="item">
                        <img src="../../assets/Store18.JPG">
                    </div>
                </owl-carousel>
            </div>
        </section>
    </body>
</html>
<app-bottomnav></app-bottomnav>
