<!DOCTYPE html>
<html lang="en">
<head>
    <title>Customer Feedback</title>
</head>
<body>
    <button class="btn btn-primary coral" routerLink="/manager">Back</button>
    <table class="table table-hover">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of CustomerFB">
                <td>{{c.firstName}}</td>
                <td>{{c.lastName}}</td>
                <td>{{c.email}}</td>
                <td>{{c.phone}}</td>
                <td><button class="btn btn-warning" routerLink="/viewfeedback/{{c.id}}">View</button> | <button class="btn btn-danger" (click)="Delete(c.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>