section{
    text-align: center;
    font-family: Georgia;
}
section{
    background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.5)), url("../../assets/Sharonville_Bottles.JPG");
    height: 90ch;
    width: 90ch;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    position: relative;
    background-size: 100% 100%; 
    text-align: center;
    animation: animation 1s;
}
@keyframes animation{
    from{top:100px;}
    to{top:0px}
}
