input{
    margin-bottom: 2%;
    border-radius: 8px;
}
.btn-primary{
    background-color: coral;
    border:0px;
}
form{
    text-align: center;
}
h3{
    text-align: center;
    margin-bottom: 3%;
}
.email{
    width:500px;
}