<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
            <div class="slider">
                <div class="slide">
                    <img src="../../assets/Store1.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store2.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store3.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store4.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store5.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store6.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store7.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store8.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store9.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store10.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store11.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store12.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store13.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store14.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store15.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store16.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store17.JPG">
                </div>
                <div class="slide">
                    <img src="../../assets/Store18.JPG">
                </div>
                <div class="navigation">
                    <i class="fas fa-chevron-left prev-btn"></i>
                    <i class="fas fa-chevron-right next-btn"></i>
                </div>
                <div class="navigation-visibility">
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                    <div class="slide-icon"></div>
                </div>
            </div>
            <script type="text/javascript">
                const nextBtn = document.querySelector(".next-btn");
                const prevBtn = document.querySelector(".prev-btn");
                const slides = document.querySelectorAll(".slide");
                const slideIcons = document.querySelectorAll(".slide-icon");
                const numberofSlides = slides.length;
                var slideNumber = 0;

            </script>
</body>
</html>