.nav-bar{
    background-color: #080A43;
    width: 102%;
    position: relative;
    margin-left: -2%;
    margin-top: -1%;
    display: flex;justify-content: space-between;
}
.nav-bar-img{
    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 3%;
    height: 7em;
    width:20%;
}
.nav-bar-options{
    display:flex;
    color: coral;
    gap: 8vh;
    width: 100%;
    width: 70%;
    height: 50%;
    margin-top: 4%;
    flex-direction: row-reverse;
    margin-right:2%;
}
.option{
    text-align: right;
    float: right;
}
a{
    text-decoration: none;
    color:coral;
}
a:hover{
    color:aliceblue;
}