<html>
    <body>
        <div class = nav-bar>
            <img class = nav-bar-img src="../../assets/Sharonville_Tag.jpg">
            <div class = nav-bar-options>
                <h3 class = option><a routerLink="/contactus">Contact Us</a></h3>
                <h3 class = option><a routerLink="/login">Login</a></h3>
                <h3 class = option><a routerLink="/storehours">Store Hours</a></h3>
                <h3 class = option><a routerLink="/location">Location</a></h3>
                <h3 class = option><a routerLink="/main">Welcome</a></h3>
            </div>
        </div>
    </body>
</html>